/* *{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
/* .header{
    height: 500px;
    background-image: url('ocean.jpg');
    background-repeat: no-repeat;
    text-align: center;
    text-align: left;
  background: #390bdd;
  color: white;
  height: 500px;
  background-image: url('ocean.jpg');
  background-repeat: no-repeat;
  background-size: 40%;
} */

/* .header{
  text-align: center;
  background-color: aqua;
}
.box{

  background-color:black;
} */
.box-1{
  /* border: 2px solid black; */
  padding: 0px 10px 20px ;
  margin: 2px;
  width: 300px;
  border-radius: 10px;
  
}
.header{
  border-radius: 5px;
  width: 325px;
  background-image: url('images/back.jpg');
}
h3{
  color: black;
}
.gallery{
  display: inline;
  height: 100px;
  width: 100px;

}

label{
  display: block;
  margin-top: 10px;
}